body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(134, 181, 221);
}

div.box1 {
    display: flex;
    flex-direction: column; /* Ensures button stays at the bottom */
    justify-content: space-between; /* Pushes button to the bottom */
    align-items: center; /* Centers horizontally */
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    height: 50vh;
    position: relative; /* Necessary for positioning the button */
}

#continue-btn {
    position: absolute;
    bottom: 10px; /* Adjust bottom spacing as needed */
    right: 10px; /* Adjust right spacing as needed */
    cursor: pointer;
}
  
  .player {
    background: none;
    width: 50px;
    height: 50px;
    border: solid 5px #fff;
    border-radius: 100%;
    position: relative; 
    text-indent:-9999px;
    box-shadow: 1px 1px 3px #999999;
  }
  
  .player span {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
    position:absolute;
    top:20%;
    left:36%;    
  }
  
  .player:hover{
    background:#4ccaea;
    cursor:pointer;
    opacity:0.8;
    border:none;
  }
  
  .player:hover span{
    top:25%;
    left:38%;
  }

  #play_btn.play {
    border-style: solid;
  border-width: 37px 0 37px 60px;
}
  
#answer_btn, #first_quesion {
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}
